section {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #111;
    background: url(../img/body-bg.jpg) 0% 0% / cover fixed;
    color: #222;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    font-size: 1.7em;
}
h2 {
    font-size: 1.3em;
}
@media (min-width: 576px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.7em;
    }
}
.content-holder {
    width: 100%;
}
@media (min-width: 1024px) {
    .content-holder {
        width: 67%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1800px) {
    .content-holder {
        width: 100%;
    }
}
/*Heading style*/
.heading-holder {
    /*background-color: rgba(52, 52, 52, 0.7);*/
    color: #eee;
    font-family: 'American Typewriter', sans-serif;
    /*margin-bottom: 30px;*/
    padding-top: 20px;
    display: block;
}
.heading-holder::after {
    content: url(../img/arrow-down-vsl.png);
    position: relative;
    top: 29px;
    left: 43%;
}
span.important {
    text-decoration: underline;
}
span.important-alt {
    color: #111;
    background-color: #FFFE4B;
}
@media (min-width: 576px) {
    .heading-holder::after {
        left: 48%;
    }
}
/*END Heading style*/

/*Video area style*/
.video-holder.row {
    border: 5px solid #eee;
}
.video-area {
    padding: 0;
}

/*Video player style*/
.video-overlay-glass{
    display: none; 
}
.video-overlay-glass{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999!important;
    top: 0;
    left: 0;
}
.coverTap {
    background: url(/img/tap-cover-2.jpg);
    background-size: cover;
    background-repeat: round;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.video-overlay, .pre-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(circle,rgba(0,0,0,.1),rgba(0,0,0,.8));
    background: -webkit-radial-gradient(circle,rgba(0,0,0,.1),rgba(0,0,0,.8));
    z-index: 3!important;
    top: 0;
    left: 0;
    /*display: none;*/
}
#resumeVideo-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(circle,rgba(0,0,0,.1),rgba(0,0,0,.8));
    background: -webkit-radial-gradient(circle,rgba(0,0,0,.1),rgba(0,0,0,.8));
    z-index: 3!important;
    top: 0;
    left: 0;
    display: none;
}
#resumeVideo-overlay > div {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.play-button-bg{
    position: absolute;
    display: block;
    width: 130px;
    height: 80px;
    border-radius: 5px;
    transition: all .2s ease-out;
    cursor: pointer;
    text-indent: .25em;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    -ms-transform: translate(-50%,-50%);
    background: #da1921;
    -webkit-transition: all .2s ease-out;
    z-index: 2;
}
.play-button-bg:hover{
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1.05);
    transform: translateY(-50%) translateX(-50%) scale(1.05);
    -ms-transform: translate(-50%,-50%) scale(1.05);
    transition: all .2s ease-out;
}
.play-button-graphic{
    display: block;
    width: 130px;
    height: 80px;
    top: 50%;
    left: 50%;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    cursor: pointer;
    position: relative;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    -ms-transform: translate(-50%,-50%);
}
.play-button-graphic:before{
    content: "";
    position: absolute;
    border: 24px solid transparent;
    top: 50%;
    border-top-width: 18px;
    border-bottom-width: 18px;
    border-left-color: #fff;
    z-index: 2003;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-18%);
    transform: translateY(-50%) translateX(-18%);
    -ms-transform: translate(-18%,-50%);
}
/*Main CTA styles*/
.main-cta {
    padding-top: 10px;
    padding-bottom: 10px;
    visibility: hidden;
}
.main-cta.visible {
    visibility: visible!important;
    -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000)both;
    animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000)both;
}
.price-tag {
    color: #111;
    margin-bottom: 0;
    font-size: 18px;
}
.price-tag b {
    color: #cc0000;
    font-size: 24px;
}
.btn-cta {
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    font-size: 24px;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .btn-cta {
        font-size: 36px;
        max-width: 500px;
    }
}
/*END Main CTA styles*/

/*Pricing box style*/
.price-box {
    transition: transform .2s;
}
.price-box:hover {
    transform: scale(1.1);
}
.price-box .bg-white {
    background-color: rgba(255, 255, 255, 0.8)!important;
    transition: transform .2s;
}
.price-box.premium-box .bg-white {
    background-color: rgba(255, 255, 255, 0.95)!important;
}
.price-box .bg-white:hover {
    background-color: #fff!important;
}
/*END Pricing box style*/

/*Link to text version*/
.go-text {
    color: #fff;
}
.go-text:hover {
    text-decoration: none;
}
/*END Link to text version*/

/*Reference box style*/
.reference-holder {
    background-color: rgba(255, 255, 255, 0.8);
}
.reference-holder h4 {
    /*font-size: 70%;*/
    text-align: center;
}
.reference-holder p {
    font-size: 13px;
}
.reference-holder a.reference-link {
    color: #222;
    font-style: italic;
    pointer-events: none;
}
/*END Reference box style*/

/*Helper classes*/
.spacer {
    padding-top: 5em;
}
/*END Helper classes*/

/*Footer style*/
footer {
    border-top: 1px solid #808080;
    color: #eee;
}
footer .footer-section {
    background: rgba(0, 0, 0, 0.5);
}
footer .container a, footer .container p{
    font-size: 12px;
}
a.footer-link {
    color: #eee;
}